<div style="text-align:center">
<div style="text-align:center" class="title">
  <h1>{{uf_dada.nome}}</h1>
</div>

<table align="center">
  <tr>
    <td> <p>ID: {{uf_dada.id}}</p> </td>
  </tr>
  <tr>
    <td> <p>Área: {{uf_dada.area}}</p> </td>
  </tr>
  <tr>
    <td> <p>Média municípios atendidos: {{media}}</p> </td>
  </tr>
</table>
<h4 align ="center">MUNICIPIOS ATENDIDOS</h4>
<table align="center">
  <tr>
    <td>
      <div *ngFor="let mun of municipios_atendidos"> Ano: {{mun.ano}} </div>
    </td>
    <td>
      <div *ngFor="let mun of municipios_atendidos"> Quantidade: {{mun.valor}} </div>
    </td>
  </tr>
</table>

</div>
